/* stylelint-disable unit-whitelist, at-rule-empty-line-before */
@function to-rem($pixels, $context: 16) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return ($pixels / $context) * 1rem;
}

/* stylelint-enable */
@mixin m($names) {
  @each $name in $names {
    @at-root {
      // '&' is a double-wrapped list
      $selector: nth(&, 1);
      // direct parent will be the last item in that list
      $direct-parent: nth($selector, length($selector));
      // modifier should have all properties of parent
      #{$direct-parent}--#{$name} { @extend #{$direct-parent} !optional; }
      // '@content' will be in a nested selector however, if that is the context
      #{&}--#{$name} { @content; }
    }
  }
}

// a BEM element() mixin--as has been seen elsewhere
@mixin e($names) {
  @each $name in $names {
    @at-root {
      #{&}__#{$name} {
        @content;
      }
    }
  }
}
